<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Restoran</title>
</head>
<body>
<!-- Jika nomorTelepon berhasil di-update -->
<div th:if="${resto != null}">
    <h1 th:text="'SELAMAT!!!!'"></h1>
    <h2 th:text="'Restoran dengan ID ' + ${resto.idRestoran} + ' berhasil di-update :)'"></h2>
    <h3 th:text="'ID Restoran: '+${resto.idRestoran}"></h3>
    <h3 th:text="'Nama Restoran: '+${resto.nama}"></h3>
    <h3 th:text="'Alamat Restoran: '+${resto.alamat}"></h3>
    <h3 th:text="'Nomor telp. Restoran: '+${resto.nomorTelepon}"></h3>
</div>

<!-- Jika idRestoran tidak ditemukan -->
<div th:unless="${resto != null}">
    <h1 th:text="'OOPS!!!!'"></h1>
    <h2 th:text="'Nomor ID tidak ditemukan. Proses update dibatalkan oleh sistem'"></h2>
</div>
</body>
</html>