<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>View Restoran</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<!-- Jika Restoran terdaftar -->
<div th:if="${resto != null}">
    <h2>Informasi Restoran</h2>
    <h3 th:text="'ID Restoran: '+${resto.idRestoran}"></h3>
    <h3 th:text="'Nama Restoran: '+${resto.nama}"></h3>
    <h3 th:text="'Alamat Restoran: '+${resto.alamat}"></h3>
    <h3 th:text="'Nomor Telp. Restoran: '+${resto.nomorTelepon}"></h3>
</div>

<!-- Jika Restoran tidak ditemukan -->
<div th:unless="${resto != null}">
    <h1 th:text="'OOPS!!!!'"></h1>
    <h2 th:text="'Restoran tidak terdaftar.'"></h2>
</div>

<td><a th:href="@{/restoran/change/}+${resto.idRestoran}">Change Data Restoran</a></td>
<td><a th:href="@{/restoran/delete/}+${resto.idRestoran}">Delete Restoran</a></td>

<h2>Daftar Menu:</h2>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Id Menu</th>
        <th>Nama</th>
        <th>Harga</th>
        <th>Deskripsi</th>
        <th>Durasi Penyajian</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menu, iterationStatus : *{menuList}"
        th:style="${iterationStatus.even} ? 'color:blue'">
        <td th:text="${iterationStatus.count}"> </td>
        <td th:text="${menu.id}"> </td>
        <td th:text="${menu.nama}"> </td>
        <td th:if="${menu.harga} >= 10000">Di atas 10k </td>
        <td th:unless="${menu.harga} >= 10000">Di bawah 10k </td>
        <td th:text="${menu.deskripsi}"> </td>
        <td th:text="${menu.durasiMasak}"> </td>

        <td><a th:href="@{/menu/change/}+${menu.id}">Change Menu</a></td>
        <td><a th:href="@{/menu/delete/}+${menu.id}">Delete Menu</a></td>
    </tr>
    </tbody>
</table>

<td><a th:href="@{/menu/add/}+${resto.idRestoran}">Add Menu</a></td>

</body>
</html>